@inherits LayoutComponentBase


<section class="container m-auto w-full h-screen flex flex-col text-gray-700">
    <div class="mb-50">
         <NavMenu/>
    </div>
    <div class="flex items-center  w-full my-16">
          @Body  
    </div>
   

</section>
